@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap');

HTML {

--base-fontMain: 'Anton';
--base-fontText: 'Oswald';

--base-fontSize: 28px;
--text-Size: 36px;
--small-text: 18px;

}