@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;900&display=swap");
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(255, 255, 255);
    height: 100px;
    width: 100%;
    
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.menuList{
padding-top: 100px;
}
.menuItem {
    
    padding-left: 20px;
    font-size: 25px;
    font-weight: 700;
    color: rgb(245, 38, 214);
    cursor: pointer;

}

.header__logo{
    display: flex;
    flex-direction: row;
    font-size: x-large;
    font-weight: 800;
}
.logo{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 135px;
    
}
